.mainContainer {
  font-family: monospace;
  font-size: 1.2em;
  background: #d8c3a5;
  display: flex;
  flex-direction: column;
  padding: 0;
  min-width: 250px;
  height: 100%;
  position: fixed;
  z-index: 1;
  right: 0;
}

.mainContainer h3 {
  border-bottom: 2px dashed #eae7dc;
  border-top: 2px dashed #eae7dc;
  color: #333;
  line-height: 2;
  margin-top: 0;
  padding: 0 1em;
}

.cartItemsContainer {
  display: 'flex';
  flex-direction: 'column';
  margin-bottom: 1em;
  list-style-type: none;
  padding: 0;
}

.cartItemsContainer li {
  border-bottom: 1px dashed #8e8d8a;
  color: #333;
  font-family: monospace;
  font-size: 1em;
  text-align: left;
  padding: 0.4em 1em;
  display: flex;
  justify-content: space-between;
}

.cartItemsContainer li button {
  background: #d8c3a5;
  border: 1px solid #8e8d8a;
  color: #333;
  cursor: pointer;
  font-family: monospace;
  padding: 0 0.3em 0.15em 0.3em;
}

.headerContainer {
  display: flex;
  flex-direction: column;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 0.5em;
}

.closeButtonContainer button {
  background: none;
  border: 1px solid #e85a4f;
  color: #e85a4f;
  cursor: pointer;
  margin: 0 0 1.2em 0;
}

.footerContainer {
  margin-top: auto;
}

.footerContentContainer {
  text-align: left;
  padding: 0.4em 1em;
  display: flex;
  flex-direction: column;
}

.footerContentContainer button {
  font-family: monospace;
  color: #333;
  background: #e85a4f;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 1em;
  padding: 0.75em 1em;
}

.footerContentContainer .subtotalContainer {
  padding: 0.75em 0;
}