.headerContainer {
  align-items: center;
  background: #eae7dc;
  border-bottom: 1px dashed #8e8d8a;
  color: #8e8d8a;
  display: flex;
  justify-content: space-between;
  padding: 0.3em 1.5em;
}

.accountInfoContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cartContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.titleContainer {
  text-align: left;
}

.titleContainer h2 {
  font-family: monospace;
}

.cartNumberBadge {
  background: #e85a4f;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  padding: 0;
};

.cartNumberBadge span {
  display: inline-block;
  vertical-align: middle;
}