.appContainer {
  padding: 1em;
  display: flex;
  margin: 0 auto;
}

/* .globalContainer {

} */

.globalContainer .cartContainer {
  background: rgba(43,45,49,.6);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

