.appContainer {
  padding: 1em;
  display: flex;
  margin: 0 auto;
}

.appContainer .productListContainer {
  flex-grow: 2;
  max-width: 75%;
}

.appContainer .cartContainer {
  flex-grow: 1;
  max-width: 25%;
}

